<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <title>Homepage</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <section class="showcase">
        <video class=".img-fluid" src="https://res.cloudinary.com/plvtinum/video/upload/v1630245381/YelpCamp/yelpcamp_srn5xj.mp4" muted loop autoplay></video>

        <div class="overlay">

        </div>

        <div class="text">
            <h2>“Life is better </h2>
            <h3>by the camp fire”</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus ipsum id itaque nulla quae neque fuga dolorem.
                Quae architecto eum adipisci deserunt temporibus qui? Quod at quas ad dolorum soluta?
            </p>
            <a href="/campgrounds">Explore Campgrounds</a>
        </div>
    
        <ul class="social">
            <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
        </ul>
    </section>

    <%- include('./partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/validateForms.js"></script>
</body>
</html>
   
  